# Android Studio & Gradle files
*.iml
.gradle/
local.properties

# IntelliJ/Android Studio project files
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# macOS system file
.DS_Store

# Build and debug folders
build/
captures/
.externalNativeBuild/
.cxx/
